<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="23" />

    <application>
        <activity
            android:name=".TraceboxDisclosureActivity"
            android:exported="false"
            android:label="@string/tracebox_export_disclosure_activity_label" />
        <provider
            android:name=".TraceboxFileProvider"
            android:authorities="${applicationId}.tracebox.export"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tracebox_export_paths" />
        </provider>
    </application>
</manifest>
